/* Reset global padding dan margin */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-color: #f2f2f2;
    line-height: 1.6;
}

/* Global layout */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Hero section */
#hero {
    background-size: cover;
    background-position: center;
    color: #c96b6b;
    text-align: center;
    padding: 80px 20px;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 700;
    text-shadow: 0px 2px 8px #c2c2c2;

}

#hero .btn-primary {
    background-color: #c96b6b;
    border-color: #d19090;
    padding: 10px 20px;
    font-size: 1.1rem;
}

#hero .btn-primary:hover {
    background-color: #b87777;
    border-color: #b87777;
}

/* Header (Navbar) */
.navbar-expand-lg {
    background-color: rgb(175, 109, 120);
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-brand {
    font-weight: 900;
    font-size: 1.3rem;
    color: white;
}

.navbar .nav-link,
.navbar .nav-link.active {
    color: #ffffff;
}

.navbar-brand:hover,
.navbar .nav-link:hover {
    color: #cccccc;
}

/* About section */
#about {
    background-color: #fff2f2;
    padding: 60px 20px;
}

#about h2 {
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #333;
    font-weight: 800;
    text-align: center;
}

#about p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #555;
}

.about-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Visi Misi section */
#visi-misi {
    background-color: #fff2f2 !important;
    padding: 60px 20px;
    border-radius: 8px;
}

#visi-misi h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 50px;
}

#visi-misi h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #333;
    font-weight: 800;
    text-align: center;
}

#visi-misi p,
#visi-misi ul {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555;
    margin-bottom: 15px;
}

#visi-misi ul {
    padding-left: 20px;
}

#visi-misi ul li {
    margin-bottom: 10px;
}


/* Services section */
#services {
    background-color: #fff2f2;
    padding: 60px 20px;
}

#services h2 {
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #333;
    font-weight: 700;
    text-align: center;
}

.service-box {
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 30px;
    transition: transform 0.3s ease;
}

.service-box:hover {
    transform: translateY(-10px);
}

#services .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-box i {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #e28ca6;
}

.service-box h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 600;
}

/* Team section */
#team {
    background-color: #fff2f2;
    padding: 60px 20px;
}

#team h2 {
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #333;
    font-weight: 700;
    text-align: center;
}

#team h4 {
    font-weight: 600;
}

#team p {
    font-weight: 500;
}

#team img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #ddd;
    padding: 5px;
    background-color: #fff;
}

/* Portfolio section */
#portfolio {
    background-color: #fff2f2;
    padding: 60px 20px;
}

#portfolio h2 {
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #333;
    font-weight: 700;
    text-align: center;
}

#portfolio img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

#portfolio .row {
    justify-content: center;
}

#portfolio h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 600;
}

#portfolio p {
    font-size: 1rem;
    color: #555;
}

/* Testimonials section */
#testimonials {
    background-color: #fff2f2;
    padding: 60px 20px;
}

#testimonials h1 {
    font-size: 2.5rem;
    margin-bottom: 50px !important;
    color: #333;
    font-weight: 700;
    text-align: center;
}

.blockquote {
    background-color: #f9f9f9;
    border-left: 5px solid #d19090;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
}

.blockquote h3 {
    font-size: 1.25rem;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center;
    line-height: 1.6;
}

.blockquote p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    margin: 0 auto;
    width: 100%;
}

.blockquote-footer {
    font-size: 0.9rem;
    color: #666;
    margin-top: 10px;
    margin: 0 auto;
    width: 100%;
}

#testimonials .carousel-inner {
    max-width: 800px; 
    margin: 0 auto; 
    display: flex; 
}

#testimonialCarousel .carousel-control-prev-icon,
#testimonialCarousel .carousel-control-next-icon {
    background-color: #AF6D78;
    border-radius: 50%;
}

#testimonialCarousel .carousel-control-prev,
#testimonialCarousel .carousel-control-next {
    width: 5%;
}

#testimonialCarousel .carousel-control-prev {
    left: 10%;
}

#testimonialCarousel .carousel-control-next {
    right: 10%;
}

/* Partners section */
#partners {
    background-color: #b91b1b;
    padding: 60px 20px;
}

#partners h2 {
    font-size: 2.5rem;
    margin-bottom: 60px !important;
    color: #333;
    font-weight: 700;
    text-align: center;
}

#partners .img-fluid {
    max-width: 100%;
    height: auto;
}

#partnersCarousel .carousel-control-prev-icon,
#partnersCarousel .carousel-control-next-icon {
    background-color: #AF6D78;
    border-radius: 50%;
}

#partnersCarousel .carousel-control-prev,
#partnersCarousel .carousel-control-next {
    width: 5%;
}

#partnersCarousel .carousel-control-prev {
    left: 25%;
}

#partnersCarousel .carousel-control-next {
    right: 25%;
}

/* Careers section */
#careers {
    background-color: #fff2f2 !important;
    padding: 60px 20px;
}

#careers h2 {
    font-size: 2.5rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 50px;
}

#careers h4 {
    font-size: 1.75rem;
    color: #333;
    font-weight: 600;
    text-align: center;
}

#careers .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

#careers .card:hover {
    transform: translateY(-5px);
}

#careers .card-title {
    font-size: 1.5rem;
    color: #333;
}

#careers .card-text {
    font-size: 1rem;
    color: #666;
}

#careers .card-body {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center;
    text-align: center;
}

#careers .btn-primary {
    background-color: #c48383;
    border-color: #c47f7f;
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: auto; 
}

#careers .btn-primary:hover {
    background-color: #b87777;
    border-color: #b87777;
}

/* Contact section */
#contact {
    background-color: #fff2f2 !important;
    padding: 60px 20px;
}

#contact h2 {
    font-size: 2.5rem;
    margin-bottom: 50px !important;
    color: #333;
    font-weight: 700;
    text-align: center;
}

#contact h4 {
    font-size: 1.75rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 10px;
}

#contact .form-control {
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

#contact .btn-primary {
    background-color: #c96b6b;
    border-color: #d19090;
    padding: 10px 20px;
    font-size: 1rem;
}

#contact .btn-primary:hover {
    background-color: #b87777;
    border-color: #b87777;
}

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #b63c65;
    color: #fff;
    background-color: #b63c65;
    color: #fff;
    border-radius: 50%;
    display: none;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.scroll-top:hover {
    background-color: #ce6e9e;
    background-color: #ce6e9e;
}

.scroll-top i {
    margin: 0;
}

.footer {
    background-color: rgb(175, 109, 120);
    color: white;
    text-align: center;
    padding: 1rem;
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 2rem;
    }

    #about h2,
    #services h2,
    #team h2,
    #portfolio h2,
    #testimonials h1,
    #partners h2,
    #careers h2,
    #contact h2 {
        font-size: 2rem;
    }

    #contact h4 {
        font-size: 1.2rem;
    }

    #careers h4 {
        font-size: 1.3rem;
    }

    #about p,
    #visi-misi p,
    #visi-misi ul li,
    #services p,
    #contact p,
    #team p,
    #portfolio p,
    #careers ul li,
    .blockquote p {
        font-size: 1rem;
    }

    #visi-misi h2 {
        font-size: 1.5rem;
    }

        .blockquote {
            padding: 15px;
            max-width: 100%;
        }

    #testimonialCarousel .carousel-control-prev,
    #testimonialCarousel .carousel-control-next {
        width: 8%;
    }

    #testimonialCarousel .carousel-control-prev {
        left: -10%;
    }

    #testimonialCarousel .carousel-control-next {
        right: -10%;
    }

    .service-box {
        width: 100%;
        padding: 20px;
        margin: 10px 0;
    }

    #partnersCarousel .carousel-control-prev,
    #partnersCarousel .carousel-control-next {
        width: 8%;
    }

    #partnersCarousel .carousel-control-prev {
        left: 0%;
    }

    #partnersCarousel .carousel-control-next {
        right: 0%;
    }

    #team img {
        width: 250px;
        height: auto;
    }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1024px) {
    #hero h1 {
        font-size: 3rem;
    }

    #about h2,
    #services h2,
    #team h2,
    #portfolio h2,
    #testimonials h1,
    #partners h2,
    #contact h2 {
        font-size: 2.5rem;
    }

    #careers h4,
    #contact h4 {
        font-size: 1.5rem;
    }

    #visi-misi h2 {
        font-size: 2rem;
    }

    #about p,
    #visi-misi p,
    #services p,
    #team p,
    #portfolio p,
    .blockquote p {
        font-size: 1.1rem;
    }

    #careers h2 {
        font-size: 2rem;
    }

    #careers .card-title {
        font-size: 1.4rem;
    }

    #careers .card-text {
        font-size: 1rem;
    }

    #careers .btn {
        font-size: 1rem;
        padding: 12px 24px;
    }

    .blockquote {
        padding: 30px;
        max-width: 80%;
        margin: 30px auto;
    }

    .blockquote h3 {
        font-size: 1.4rem;
    }

    .blockquote p {
        font-size: 1.1rem;
    }

    #testimonialCarousel .carousel-control-prev,
    #testimonialCarousel .carousel-control-next {
        width: 15%;
    }

    #testimonialCarousel .carousel-control-next {
        right: -3%;
    }

    #testimonialCarousel .carousel-control-prev {
        left: -3%;
    }

    .service-box {
        width: 45%;
        padding: 25px;
        margin: 15px;
    }

    #portfolio .col-md-4 {
        width: 50%;
    }

    #team .col-md-3 {
        width: 30%;
        margin: 0 5px;
    }

    #team img {
        width: 200px;
        height: auto;
        border-radius: 50%;
        object-fit: cover;
        display: block;
    }

    #partners .col-md-2 {
        width: 30%;
    }

    #partnersCarousel .carousel-control-prev,
    #partnersCarousel .carousel-control-next {
        width: 15%;
    }

    #partnersCarousel .carousel-control-prev {
        left: 1%;
    }

    #partnersCarousel .carousel-control-next {
        right: 1%;
    }
}

/* Desktop Styles */
@media (min-width: 1024px) {
    #hero h1 {
        font-size: 3.5rem;
    }

    #about h2,
    #services h2,
    #team h2,
    #portfolio h2,
    #testimonials h1,
    #partners h2,
    #careers h2,
    #contact h2 {
        font-size: 2.5rem;
    }

    #about p,
    #visi-misi p,
    #services p,
    #team p,
    #portfolio p,
    #careers ul li,
    .blockquote p {
        font-size: 1.2rem;
    }

    #hero .btn-primary {
        font-size: 1.1rem;
        padding: 12px 25px;
    }

    .service-box {
        width: 30%;
        padding: 30px;
        margin: 15px;
    }

    #portfolio .col-md-4 {
        width: 33%;
    }

    #team .col-md-3 {
        width: 25%;
        margin: 0 5px;
    }

    #team img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        object-fit: cover;
    }

    #partners .col-md-2 {
        width: 20%;
    }

    #partnersCarousel .carousel-control-prev,
    #partnersCarousel .carousel-control-next {
        width: 15%;
    }

    #partnersCarousel .carousel-control-prev {
        left: 18%;
    }

    #partnersCarousel .carousel-control-next {
        right: 18%;
    }
}